.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 32px;
}

.navbar img {
  height: 50px;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 8px;
}

.navbar a {
  color: #000;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}
